MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=skynet
MYSQL_USER=skynet_user
MYSQL_PASSWORD=CHANGE_ME

WORDPRESS_DB_HOST=skynet_mysql:3306
WORDPRESS_DB_NAME=skynet
WORDPRESS_DB_USER=skynet_user
WORDPRESS_DB_PASSWORD=CHANGE_ME
